<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Data</key>
	<dict>
		<key>Application</key>
		<dict>
			<key>FiveStarShowTime</key>
			<integer>5</integer>
			<key>PrivacyPolicyUrl</key>
			<string>http://cdn.appcloudbox.net/smoothappsstudio/apps/bubble/privacy.html</string>
			<key>Fonts</key>
			<dict>
				<key>BasePath</key>
				<string>http://cdn.appcloudbox.net/smoothappsstudio/apps/bubble/Fonts</string>
				<key>FontList</key>
				<array>
					<dict>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
						<key>Name</key>
						<string>lobster_two</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>oswald</string>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>ei_messiri</string>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>quicksand</string>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>caveat</string>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>lemonada</string>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>mina</string>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>kalam</string>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>allan</string>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>atma</string>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>lato</string>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>averia_libre</string>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>trochut</string>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>laila</string>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>k2d</string>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>charm</string>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
					</dict>
				</array>
			</dict>
			<key>SMSAd</key>
			<dict>
				<key>SMSDetailspageBannerAd</key>
				<dict>
					<key>Enabled</key>
					<false/>
					<key>ShowAfterCloseTheKeyboard</key>
					<false/>
				</dict>
				<key>SMSDetailspageTopAd</key>
				<dict>
					<key>Enabled</key>
					<true/>
					<key>ShowAfterSlide</key>
					<true/>
				</dict>
				<key>SMSDetailspageFullAd</key>
				<dict>
					<key>Enabled</key>
					<true/>
					<key>MinInterval</key>
					<integer>5</integer>
					<key>ShowAfterInstall</key>
					<integer>2</integer>
				</dict>
				<key>SMSHomepageBannerAd</key>
				<true/>
			</dict>
			<key>SMSPopUps</key>
			<dict>
				<key>DefaultSwitch</key>
				<true/>
			</dict>
			<key>SMSReceivedAnalysis</key>
			<false/>
			<key>SetDefaultAlert</key>
			<dict>
				<key>Switch</key>
				<false/>
			</dict>
			<key>ShortcutLikeSystemSMS</key>
			<false/>
			<key>SmsShow</key>
			<dict>
				<key>Themes</key>
				<array>
					<dict>
						<key>Id</key>
						<integer>1</integer>
						<key>Mainpage</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/preview/emoji.png</string>
						<key>WebpUrl</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/animated/emoji.webp</string>
					</dict>
					<dict>
						<key>Id</key>
						<integer>2</integer>
						<key>Mainpage</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/preview/giftbox.png</string>
						<key>WebpUrl</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/animated/giftbox.webp</string>
					</dict>
					<dict>
						<key>Id</key>
						<integer>3</integer>
						<key>Mainpage</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/preview/love.png</string>
						<key>WebpUrl</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/animated/love.webp</string>
					</dict>
					<dict>
						<key>Id</key>
						<integer>4</integer>
						<key>Mainpage</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/preview/ballon.png</string>
						<key>WebpUrl</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/animated/ballon.webp</string>
					</dict>
					<dict>
						<key>Id</key>
						<integer>5</integer>
						<key>Mainpage</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/preview/bear.png</string>
						<key>WebpUrl</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/animated/bear.webp</string>
					</dict>
					<dict>
						<key>Id</key>
						<integer>6</integer>
						<key>Mainpage</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/preview/coins.png</string>
						<key>WebpUrl</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/animated/coins.webp</string>
					</dict>
					<dict>
						<key>Id</key>
						<integer>7</integer>
						<key>Mainpage</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/preview/dot.png</string>
						<key>WebpUrl</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/animated/dot.webp</string>
					</dict>
					<dict>
						<key>Id</key>
						<integer>8</integer>
						<key>Mainpage</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/preview/fireworks.png</string>
						<key>WebpUrl</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/animated/fireworks.webp</string>
					</dict>
					<dict>
						<key>Id</key>
						<integer>9</integer>
						<key>Mainpage</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/preview/fish.png</string>
						<key>WebpUrl</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/animated/fish.webp</string>
					</dict>
					<dict>
						<key>Id</key>
						<integer>10</integer>
						<key>Mainpage</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/preview/rocket.png</string>
						<key>WebpUrl</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/animated/rocket.webp</string>
					</dict>
				</array>
			</dict>
			<key>StartPageAllowBack</key>
			<false/>
			<key>TermsOfServiceUrl</key>
			<string>http://cdn.appcloudbox.net/smoothappsstudio/apps/bubble/terms-of-use.html</string>
			<key>Themes</key>
			<dict>
				<key>Unicorn</key>
				<dict>
					<key>AvatarUrl</key>
					<string>assets://themes/unicorn/avatar.png</string>
					<key>AvatarForegroundColor</key>
					<string>#fc85d1</string>
					<key>BubbleAdColor</key>
					<string>#e3187b</string>
					<key>BubbleIncomingUrl</key>
					<string>12</string>
					<key>BubbleOutgoingUrl</key>
					<string>12</string>
					<key>FontName</key>
					<string>Mali</string>
					<key>FontUrl</key>
					<string></string>
					<key>IncomingBubbleBgColor</key>
					<string>#00000000</string>
					<key>IncomingBubbleTextColor</key>
					<string>#272d32</string>
					<key>ListSubtitleColor</key>
					<string>#ffffff</string>
					<key>ListTimeColor</key>
					<string>#ffeefc</string>
					<key>ListTitleColor</key>
					<string>#ffffff</string>
					<key>ListWallpaperUrl</key>
					<string>assets://themes/unicorn/wallpaper.jpg</string>
					<key>NewConversationIconUrl</key>
					<string>assets://themes/unicorn/create.png</string>
					<key>OutgoingBubbleBgColor</key>
					<string>#00000000</string>
					<key>OutgoingBubbleTextColor</key>
					<string>#272d32</string>
					<key>PreviewUrl</key>
					<string>assets://themes/unicorn/image_unicorn_theme.jpg</string>
					<key>ThemeColor</key>
					<string>#fc85d1</string>
					<key>ToolbarBgUrl</key>
					<string>assets://themes/unicorn/toolbar.jpg</string>
					<key>WallpaperUrl</key>
					<string>assets://themes/unicorn/wallpaper.jpg</string>
				</dict>
				<key>Technology</key>
				<dict>
					<key>AvatarForegroundColor</key>
					<string>#ffffff</string>
					<key>AvatarUrl</key>
					<string>assets://themes/technology/avatar.png</string>
					<key>BubbleAdColor</key>
					<string>#e3187b</string>
					<key>BubbleIncomingUrl</key>
					<string>14</string>
					<key>BubbleOutgoingUrl</key>
					<string>14</string>
					<key>FontName</key>
					<string>Sarpanch</string>
					<key>FontUrl</key>
					<string></string>
					<key>IncomingBubbleBgColor</key>
					<string>#00000000</string>
					<key>IncomingBubbleTextColor</key>
					<string>#a1f3ff</string>
					<key>ListSubtitleColor</key>
					<string>#7a94d8</string>
					<key>ListTimeColor</key>
					<string>#465f9e</string>
					<key>ListTitleColor</key>
					<string>#e4edff</string>
					<key>ListWallpaperUrl</key>
					<string>assets://themes/technology/wallpaper.jpg</string>
					<key>NewConversationIconUrl</key>
					<string>assets://themes/technology/create.png</string>
					<key>OutgoingBubbleBgColor</key>
					<string>#00000000</string>
					<key>OutgoingBubbleTextColor</key>
					<string>#5cd2ff</string>
					<key>PreviewUrl</key>
					<string>assets://themes/technology/image_technology_theme.jpg</string>
					<key>ThemeColor</key>
					<string>#263f8c</string>
					<key>ToolbarBgUrl</key>
					<string>assets://themes/technology/toolbar.jpg</string>
					<key>WallpaperUrl</key>
					<string>assets://themes/technology/wallpaper.jpg</string>
				</dict>
				<key>GoldenDiamond</key>
				<dict>
					<key>AvatarForegroundColor</key>
					<string>#ffffff</string>
					<key>AvatarUrl</key>
					<string>assets://themes/goldendiamond/avatar.png</string>
					<key>BubbleAdColor</key>
					<string>#e3187b</string>
					<key>BubbleIncomingUrl</key>
					<string>13</string>
					<key>BubbleOutgoingUrl</key>
					<string>13</string>
					<key>FontName</key>
					<string>Merienda</string>
					<key>FontUrl</key>
					<string></string>
					<key>IncomingBubbleBgColor</key>
					<string>#00000000</string>
					<key>IncomingBubbleTextColor</key>
					<string>#fff9c6</string>
					<key>ListSubtitleColor</key>
					<string>#764815</string>
					<key>ListTimeColor</key>
					<string>#764815</string>
					<key>ListTitleColor</key>
					<string>#492d19</string>
					<key>ListWallpaperUrl</key>
					<string>assets://themes/goldendiamond/wallpaper.jpg</string>
					<key>NewConversationIconUrl</key>
					<string></string>
					<key>OutgoingBubbleBgColor</key>
					<string>#00000000</string>
					<key>OutgoingBubbleTextColor</key>
					<string>#fff9c6</string>
					<key>PreviewUrl</key>
					<string>assets://themes/goldendiamond/image_goldendiamond_theme.jpg</string>
					<key>ThemeColor</key>
					<string>#81471a</string>
					<key>ToolbarBgUrl</key>
					<string>assets://themes/goldendiamond/toolbar.jpg</string>
					<key>WallpaperUrl</key>
					<string>assets://themes/goldendiamond/wallpaper.jpg</string>
				</dict>
				<key>Default</key>
				<dict>
					<key>AvatarForegroundColor</key>
					<string>#ffffff</string>
					<key>AvatarUrl</key>
					<string>assets://themes/default/avatar.png</string>
					<key>BubbleAdColor</key>
					<string>#2caef8</string>
					<key>BubbleIncomingUrl</key>
					<string>1</string>
					<key>BubbleOutgoingUrl</key>
					<string>1</string>
					<key>FontName</key>
					<string>Default</string>
					<key>FontUrl</key>
					<string></string>
					<key>IncomingBubbleBgColor</key>
					<string>#f4f5f8</string>
					<key>IncomingBubbleTextColor</key>
					<string>#222327</string>
					<key>ListSubtitleColor</key>
					<string>#878a95</string>
					<key>ListTimeColor</key>
					<string>#afb1be</string>
					<key>ListTitleColor</key>
					<string>#19191c</string>
					<key>ListWallpaperUrl</key>
					<string></string>
					<key>NewConversationIconUrl</key>
					<string></string>
					<key>OutgoingBubbleBgColor</key>
					<string>#37a63b</string>
					<key>OutgoingBubbleTextColor</key>
					<string>#ffffff</string>
					<key>PreviewUrl</key>
					<string>assets://themes/default/image_default_theme.jpg</string>
					<key>ThemeColor</key>
					<string>#37a63b</string>
					<key>ToolbarBgUrl</key>
					<string></string>
					<key>WallpaperUrl</key>
					<string></string>
				</dict>
				<key>Diamond</key>
				<dict>
					<key>AvatarForegroundColor</key>
					<string>#ffffff</string>
					<key>AvatarUrl</key>
					<string>assets://themes/diamond/avatar.png</string>
					<key>BubbleAdColor</key>
					<string>#e3187b</string>
					<key>BubbleIncomingUrl</key>
					<string>9</string>
					<key>BubbleOutgoingUrl</key>
					<string>9</string>
					<key>FontName</key>
					<string>Mali</string>
					<key>FontUrl</key>
					<string></string>
					<key>IncomingBubbleBgColor</key>
					<string>#00ffffff</string>
					<key>IncomingBubbleTextColor</key>
					<string>#272d32</string>
					<key>ListSubtitleColor</key>
					<string>#feeef5</string>
					<key>ListTimeColor</key>
					<string>#fdd6e6</string>
					<key>ListTitleColor</key>
					<string>#ffffff</string>
					<key>ListWallpaperUrl</key>
					<string>assets://themes/diamond/wallpaper.jpg</string>
					<key>NewConversationIconUrl</key>
					<string>assets://themes/diamond/create.png</string>
					<key>OutgoingBubbleBgColor</key>
					<string>#00ffffff</string>
					<key>OutgoingBubbleTextColor</key>
					<string>#ffffff</string>
					<key>PreviewUrl</key>
					<string>assets://themes/diamond/image_diamond_theme.jpg</string>
					<key>ThemeColor</key>
					<string>#e45eb4</string>
					<key>ToolbarBgUrl</key>
					<string>assets://themes/diamond/toolbar.jpg</string>
					<key>WallpaperUrl</key>
					<string>assets://themes/diamond/wallpaper.jpg</string>
				</dict>
				<key>Neno</key>
				<dict>
					<key>AvatarForegroundColor</key>
					<string>#ffffff</string>
					<key>AvatarUrl</key>
					<string>assets://themes/neon/avatar.png</string>
					<key>BubbleAdColor</key>
					<string>#42d9ff</string>
					<key>BubbleIncomingUrl</key>
					<string>10</string>
					<key>BubbleOutgoingUrl</key>
					<string>10</string>
					<key>FontName</key>
					<string>Mali</string>
					<key>FontUrl</key>
					<string></string>
					<key>IncomingBubbleBgColor</key>
					<string>#00ffffff</string>
					<key>IncomingBubbleTextColor</key>
					<string>#ffffff</string>
					<key>ListSubtitleColor</key>
					<string>#ccc1da</string>
					<key>ListTimeColor</key>
					<string>#968aa7</string>
					<key>ListTitleColor</key>
					<string>#ffffff</string>
					<key>ListWallpaperUrl</key>
					<string>assets://themes/neon/wallpaper.jpg</string>
					<key>NewConversationIconUrl</key>
					<string>assets://themes/neon/create.png</string>
					<key>OutgoingBubbleBgColor</key>
					<string>#00ffffff</string>
					<key>OutgoingBubbleTextColor</key>
					<string>#ffffff</string>
					<key>PreviewUrl</key>
					<string>assets://themes/neon/image_neon_theme.jpg</string>
					<key>ThemeColor</key>
					<string>#5f1ef3</string>
					<key>ToolbarBgUrl</key>
					<string>assets://themes/neon/toolbar.jpg</string>
					<key>WallpaperUrl</key>
					<string>assets://themes/neon/wallpaper.jpg</string>
				</dict>
				<key>SimpleBusiness</key>
				<dict>
					<key>AvatarForegroundColor</key>
					<string>#ffffff</string>
					<key>AvatarUrl</key>
					<string>assets://themes/simplebusiness/avatar.png</string>
					<key>BubbleAdColor</key>
					<string>#2caef8</string>
					<key>BubbleIncomingUrl</key>
					<string>6</string>
					<key>BubbleOutgoingUrl</key>
					<string>6</string>
					<key>FontName</key>
					<string>Default</string>
					<key>FontUrl</key>
					<string></string>
					<key>IncomingBubbleBgColor</key>
					<string>#ffffff</string>
					<key>IncomingBubbleTextColor</key>
					<string>#272d32</string>
					<key>ListSubtitleColor</key>
					<string>#8194a4</string>
					<key>ListTimeColor</key>
					<string>#92a9bc</string>
					<key>ListTitleColor</key>
					<string>#222528</string>
					<key>ListWallpaperUrl</key>
					<string>assets://themes/simplebusiness/wallpaper.jpg</string>
					<key>NewConversationIconUrl</key>
					<string></string>
					<key>OutgoingBubbleBgColor</key>
					<string>#5191d4</string>
					<key>OutgoingBubbleTextColor</key>
					<string>#ffffff</string>
					<key>PreviewUrl</key>
					<string>assets://themes/simplebusiness/image_simple_theme.jpg</string>
					<key>ThemeColor</key>
					<string>#5191d4</string>
					<key>ToolbarBgUrl</key>
					<string>assets://themes/simplebusiness/toolbar.jpg</string>
					<key>WallpaperUrl</key>
					<string>assets://themes/simplebusiness/wallpaper.jpg</string>
				</dict>
				<key>WaterDrop</key>
				<dict>
					<key>AvatarForegroundColor</key>
					<string>#ffffff</string>
					<key>AvatarUrl</key>
					<string>assets://themes/waterdrop/avatar.png</string>
					<key>BubbleAdColor</key>
					<string>#ffffff</string>
					<key>BubbleIncomingUrl</key>
					<string>11</string>
					<key>BubbleOutgoingUrl</key>
					<string>11</string>
					<key>FontName</key>
					<string>Krub</string>
					<key>FontUrl</key>
					<string></string>
					<key>IncomingBubbleBgColor</key>
					<string>#00000000</string>
					<key>IncomingBubbleTextColor</key>
					<string>#ffffff</string>
					<key>ListSubtitleColor</key>
					<string>#e4f6da</string>
					<key>ListTimeColor</key>
					<string>#ffffff</string>
					<key>ListTitleColor</key>
					<string>#f8ffef</string>
					<key>ListWallpaperUrl</key>
					<string>assets://themes/waterdrop/wallpaper.jpg</string>
					<key>NewConversationIconUrl</key>
					<string>assets://themes/waterdrop/create.png</string>
					<key>OutgoingBubbleBgColor</key>
					<string>#00000000</string>
					<key>OutgoingBubbleTextColor</key>
					<string>#ffffff</string>
					<key>PreviewUrl</key>
					<string>assets://themes/waterdrop/image_waterdrop_theme.jpg</string>
					<key>ThemeColor</key>
					<string>#7bbe25</string>
					<key>ToolbarBgUrl</key>
					<string>assets://themes/waterdrop/toolbar.jpg</string>
					<key>WallpaperUrl</key>
					<string>assets://themes/waterdrop/wallpaper.jpg</string>
				</dict>
			</dict>
		</dict>
		<key>System</key>
		<dict>
			<key>SessionEndConfig</key>
			<dict>
				<key>Timeout</key>
				<integer>10</integer>
				<key>TriggerType</key>
				<integer>2</integer>
			</dict>
		</dict>
		<key>libCommons</key>
		<dict>
			<key>RemoteConfig</key>
			<dict>
				<key>UpdateInterval</key>
				<integer>43200</integer>
			</dict>
		</dict>
	</dict>
	<key>UserLevel</key>
	<dict>
		<key>1-1</key>
		<dict>
			<key>Data</key>
			<dict>
				<key>Application</key>
				<dict>
					<key>SMSReceivedAnalysis</key>
					<false/>
					<key>SetDefaultAlert</key>
					<dict>
						<key>Switch</key>
						<false/>
					</dict>
					<key>ShortcutLikeSystemSMS</key>
					<false/>
				</dict>
				<key>UserLevel</key>
				<string>1</string>
			</dict>
		</dict>
		<key>3-3</key>
		<dict>
			<key>Data</key>
			<dict>
				<key>Application</key>
				<dict>
					<key>SMSReceivedAnalysis</key>
					<false/>
					<key>SetDefaultAlert</key>
					<dict>
						<key>Switch</key>
						<false/>
					</dict>
					<key>ShortcutLikeSystemSMS</key>
					<false/>
				</dict>
				<key>UserLevel</key>
				<string>3</string>
			</dict>
		</dict>
		<key>4-4</key>
		<dict>
			<key>Data</key>
			<dict>
				<key>Application</key>
				<dict>
					<key>SMSReceivedAnalysis</key>
					<false/>
					<key>SetDefaultAlert</key>
					<dict>
						<key>Switch</key>
						<true/>
					</dict>
					<key>ShortcutLikeSystemSMS</key>
					<false/>
				</dict>
				<key>UserLevel</key>
				<string>4</string>
			</dict>
		</dict>
		<key>5-5</key>
		<dict>
			<key>Data</key>
			<dict>
				<key>Application</key>
				<dict>
					<key>SMSReceivedAnalysis</key>
					<true/>
					<key>SetDefaultAlert</key>
					<dict>
						<key>Switch</key>
						<true/>
					</dict>
					<key>ShortcutLikeSystemSMS</key>
					<true/>
				</dict>
				<key>UserLevel</key>
				<string>5</string>
			</dict>
		</dict>
		<key>8-8</key>
		<dict>
			<key>Data</key>
			<dict>
				<key>Application</key>
				<dict>
					<key>SMSReceivedAnalysis</key>
					<true/>
					<key>SetDefaultAlert</key>
					<dict>
						<key>Switch</key>
						<true/>
					</dict>
					<key>ShortcutLikeSystemSMS</key>
					<true/>
				</dict>
				<key>UserLevel</key>
				<string>8</string>
			</dict>
		</dict>
		<key>default</key>
		<dict>
			<key>Data</key>
			<dict>
				<key>Application</key>
				<dict>
					<key>SMSReceivedAnalysis</key>
					<false/>
					<key>SetDefaultAlert</key>
					<dict>
						<key>Switch</key>
						<false/>
					</dict>
					<key>ShortcutLikeSystemSMS</key>
					<false/>
				</dict>
				<key>UserLevel</key>
				<string>default</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
