<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Data</key>
	<dict>
		<key>Application</key>
		<dict>
			<key>FiveStarShowTime</key>
			<integer>5</integer>
			<key>PrivacyPolicyUrl</key>
			<string>http://cdn.appcloudbox.net/smoothappsstudio/apps/bubble/privacy.html</string>
			<key>Fonts</key>
			<dict>
				<key>BasePath</key>
				<string>http://cdn.appcloudbox.net/smoothappsstudio/apps/bubble/Fonts</string>
				<key>FontList</key>
				<array>
					<dict>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
						<key>Name</key>
						<string>lobster_two</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>oswald</string>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>quicksand</string>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>caveat</string>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>lemonada</string>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>mina</string>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>kalam</string>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>allan</string>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>atma</string>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>lato</string>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>averia_libre</string>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>trochut</string>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>laila</string>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
					</dict>
					<dict>
						<key>Name</key>
						<string>charm</string>
						<key>Weight</key>
						<array>
							<string>SemiBold</string>
							<string>Regular</string>
						</array>
					</dict>
				</array>
			</dict>
			<key>SMSAd</key>
			<dict>
				<key>SMSDetailspageBannerAd</key>
				<dict>
					<key>Enabled</key>
					<false/>
					<key>ShowAfterCloseTheKeyboard</key>
					<false/>
				</dict>
				<key>SMSDetailspageTopAd</key>
				<dict>
					<key>Enabled</key>
					<true/>
					<key>ShowAfterSlide</key>
					<true/>
				</dict>
				<key>SMSDetailspageFullAd</key>
				<dict>
					<key>Enabled</key>
					<true/>
					<key>MinInterval</key>
					<integer>5</integer>
					<key>ShowAfterInstall</key>
					<integer>2</integer>
				</dict>
				<key>SMSHomepageBannerAd</key>
				<true/>
				<key>SMSHomepageBannerAdFacebookEnabled</key>
				<true/>
			</dict>
			<key>SMSPopUps</key>
			<dict>
				<key>DefaultSwitch</key>
				<true/>
			</dict>
			<key>SMSReceivedAnalysis</key>
			<false/>
			<key>SetDefaultAlert</key>
			<dict>
				<key>Switch</key>
				<false/>
			</dict>
			<key>ShortcutLikeSystemSMS</key>
			<false/>
			<key>SmsShow</key>
			<dict>
				<key>Themes</key>
				<array>
					<dict>
						<key>Id</key>
						<integer>1</integer>
						<key>Mainpage</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/preview/emoji.png</string>
						<key>WebpUrl</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/animated/emoji.webp</string>
					</dict>
					<dict>
						<key>Id</key>
						<integer>2</integer>
						<key>Mainpage</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/preview/giftbox.png</string>
						<key>WebpUrl</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/animated/giftbox.webp</string>
					</dict>
					<dict>
						<key>Id</key>
						<integer>3</integer>
						<key>Mainpage</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/preview/love.png</string>
						<key>WebpUrl</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/animated/love.webp</string>
					</dict>
					<dict>
						<key>Id</key>
						<integer>4</integer>
						<key>Mainpage</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/preview/ballon.png</string>
						<key>WebpUrl</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/animated/ballon.webp</string>
					</dict>
					<dict>
						<key>Id</key>
						<integer>5</integer>
						<key>Mainpage</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/preview/bear.png</string>
						<key>WebpUrl</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/animated/bear.webp</string>
					</dict>
					<dict>
						<key>Id</key>
						<integer>6</integer>
						<key>Mainpage</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/preview/coins.png</string>
						<key>WebpUrl</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/animated/coins.webp</string>
					</dict>
					<dict>
						<key>Id</key>
						<integer>7</integer>
						<key>Mainpage</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/preview/dot.png</string>
						<key>WebpUrl</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/animated/dot.webp</string>
					</dict>
					<dict>
						<key>Id</key>
						<integer>8</integer>
						<key>Mainpage</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/preview/fireworks.png</string>
						<key>WebpUrl</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/animated/fireworks.webp</string>
					</dict>
					<dict>
						<key>Id</key>
						<integer>9</integer>
						<key>Mainpage</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/preview/fish.png</string>
						<key>WebpUrl</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/animated/fish.webp</string>
					</dict>
					<dict>
						<key>Id</key>
						<integer>10</integer>
						<key>Mainpage</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/preview/rocket.png</string>
						<key>WebpUrl</key>
						<string>http://cdn.appcloudbox.net/launcherapps/apps/launcher/sms/smsshow/animated/rocket.webp</string>
					</dict>
				</array>
			</dict>
			<key>StartPageAllowBack</key>
			<false/>
			<key>TermsOfServiceUrl</key>
			<string>http://cdn.appcloudbox.net/smoothappsstudio/apps/bubble/terms-of-use.html</string>
			<key>Themes</key>
			<dict>
				<key>BasePath</key>
				<string>http://s3.amazonaws.com/superapps-dev/ColorSMS/theme/</string>
				<key>ThemeList</key>
				<dict>
					<key>flash</key>
					<dict>
					    <key>IsLocalTheme</key>
					    <false/>
						<key>PreviewList</key>
						<array>
							<string>0.jpg</string>
							<string>1.jpg</string>
						</array>
						<key>Hot</key>
						<integer>1000</integer>
						<key>Name</key>
						<string>CuteGraffiti</string>
						<key>AvatarUrl</key>
						<string>avatar.png</string>
						<key>AvatarForegroundColor</key>
						<string>#000000</string>
						<key>BubbleAdColor</key>
						<string>#e3187b</string>
						<key>BubbleIncomingUrl</key>
						<string>incoming.9.png</string>
						<key>BubbleOutgoingUrl</key>
						<string>outgoing.9.png</string>
						<key>FontName</key>
						<string>K2D</string>
						<key>IncomingBubbleBgColor</key>
						<string>#00000000</string>
						<key>IncomingBubbleTextColor</key>
						<string>#000000</string>
						<key>ListSubtitleColor</key>
						<string>#000000</string>
						<key>ListTimeColor</key>
						<string>#000000</string>
						<key>ListTitleColor</key>
						<string>#000000</string>
						<key>ListWallpaperUrl</key>
						<string>wallpaper.jpg</string>
						<key>NewConversationIconUrl</key>
						<string></string>
						<key>OutgoingBubbleBgColor</key>
						<string>#00000000</string>
						<key>OutgoingBubbleTextColor</key>
						<string>#000000</string>
						<key>BannerAdBgColor</key>
						<string>#b3ffffff</string>
						<key>BannerAdActionColor</key>
						<string>#80000000</string>
						<key>BannerAdActionTextColor</key>
						<string>#000000</string>
						<key>PreviewUrl</key>
						<string>preview.jpg</string>
						<key>ThemeColor</key>
						<string>#18b9b7</string>
						<key>ToolbarBgUrl</key>
						<string>toolbar.jpg</string>
						<key>WallpaperUrl</key>
						<string>wallpaper.jpg</string>
					</dict>
					<key>raindrop</key>
					<dict>
						<key>PreviewList</key>
						<array>
							<string>0.jpg</string>
						</array>
						<key>Hot</key>
						<integer>9999</integer>
						<key>IsLocalTheme</key>
                        <false/>
						<key>Name</key>
						<string>CoolGraffiti</string>
						<key>AvatarUrl</key>
						<string>avatar.png</string>
						<key>AvatarForegroundColor</key>
						<string>#ffffff</string>
						<key>BannerAdBgColor</key>
						<string>#40ffffff</string>
						<key>BannerAdActionColor</key>
						<string>#ffd0c2c0</string>
						<key>BannerAdActionTextColor</key>
						<string>#fefefe</string>
						<key>BubbleAdColor</key>
						<string>#e3187b</string>
						<key>BubbleIncomingUrl</key>
						<string>incoming.9.png</string>
						<key>BubbleOutgoingUrl</key>
						<string>outgoing.9.png</string>
						<key>FontName</key>
						<string>K2D</string>
						<key>IncomingBubbleBgColor</key>
						<string>#00000000</string>
						<key>IncomingBubbleTextColor</key>
						<string>#121111</string>
						<key>ListSubtitleColor</key>
						<string>#d0c2c0</string>
						<key>ListTimeColor</key>
						<string>#bda7a3</string>
						<key>ListTitleColor</key>
						<string>#ffffff</string>
						<key>ListWallpaperUrl</key>
						<string>wallpaper.jpg</string>
						<key>NewConversationIconUrl</key>
						<string></string>
						<key>OutgoingBubbleBgColor</key>
						<string>#00000000</string>
						<key>OutgoingBubbleTextColor</key>
						<string>#121111</string>
						<key>PreviewUrl</key>
						<string>preview.jpg</string>
						<key>ThemeColor</key>
						<string>#654a41</string>
						<key>ToolbarBgUrl</key>
						<string>toolbar.jpg</string>
						<key>WallpaperUrl</key>
						<string>wallpaper.jpg</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>System</key>
		<dict>
			<key>SessionEndConfig</key>
			<dict>
				<key>Timeout</key>
				<integer>10</integer>
				<key>TriggerType</key>
				<integer>2</integer>
			</dict>
		</dict>
		<key>libCommons</key>
		<dict>
			<key>RemoteConfig</key>
			<dict>
				<key>UpdateInterval</key>
				<integer>43200</integer>
			</dict>
		</dict>
	</dict>
	<key>UserLevel</key>
	<dict>
		<key>1-1</key>
		<dict>
			<key>Data</key>
			<dict>
				<key>Application</key>
				<dict>
					<key>SMSReceivedAnalysis</key>
					<false/>
					<key>SetDefaultAlert</key>
					<dict>
						<key>Switch</key>
						<false/>
					</dict>
					<key>ShortcutLikeSystemSMS</key>
					<false/>
				</dict>
				<key>UserLevel</key>
				<string>1</string>
			</dict>
		</dict>
		<key>3-3</key>
		<dict>
			<key>Data</key>
			<dict>
				<key>Application</key>
				<dict>
					<key>SMSReceivedAnalysis</key>
					<false/>
					<key>SetDefaultAlert</key>
					<dict>
						<key>Switch</key>
						<false/>
					</dict>
					<key>ShortcutLikeSystemSMS</key>
					<false/>
				</dict>
				<key>UserLevel</key>
				<string>3</string>
			</dict>
		</dict>
		<key>4-4</key>
		<dict>
			<key>Data</key>
			<dict>
				<key>Application</key>
				<dict>
					<key>SMSReceivedAnalysis</key>
					<false/>
					<key>SetDefaultAlert</key>
					<dict>
						<key>Switch</key>
						<true/>
					</dict>
					<key>ShortcutLikeSystemSMS</key>
					<false/>
				</dict>
				<key>UserLevel</key>
				<string>4</string>
			</dict>
		</dict>
		<key>5-5</key>
		<dict>
			<key>Data</key>
			<dict>
				<key>Application</key>
				<dict>
					<key>SMSReceivedAnalysis</key>
					<true/>
					<key>SetDefaultAlert</key>
					<dict>
						<key>Switch</key>
						<true/>
					</dict>
					<key>ShortcutLikeSystemSMS</key>
					<true/>
				</dict>
				<key>UserLevel</key>
				<string>5</string>
			</dict>
		</dict>
		<key>8-8</key>
		<dict>
			<key>Data</key>
			<dict>
				<key>Application</key>
				<dict>
					<key>SMSReceivedAnalysis</key>
					<true/>
					<key>SetDefaultAlert</key>
					<dict>
						<key>Switch</key>
						<true/>
					</dict>
					<key>ShortcutLikeSystemSMS</key>
					<true/>
				</dict>
				<key>UserLevel</key>
				<string>8</string>
			</dict>
		</dict>
		<key>default</key>
		<dict>
			<key>Data</key>
			<dict>
				<key>Application</key>
				<dict>
					<key>SMSReceivedAnalysis</key>
					<false/>
					<key>SetDefaultAlert</key>
					<dict>
						<key>Switch</key>
						<false/>
					</dict>
					<key>ShortcutLikeSystemSMS</key>
					<false/>
				</dict>
				<key>UserLevel</key>
				<string>default</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
