stages:
- build
- cleanup_build

build_message:
  stage: build
  script:
  - commit_msg=$(git log --format=%B -n 1)
  - echo $commit_msg
  - mkdir outputs
  - if [[ $commit_msg == *"[BuildDebug]"* ]] || [[ $commit_msg == *"Merge branch"* ]]; then
  -   git submodule update --init
  -   ./gradlew assembleDebug
  -   ./gradlew -p . dependencies > outputs/build-dependencies.txt
  - fi
  - if [[ $commit_msg == *"[Build]"* ]]; then
  -   git submodule update --init
  -   ./gradlew clean
  -   ./gradlew assembleRelease
  -   ./gradlew -p . dependencies > outputs/build-dependencies.txt
  - fi
  artifacts:
    when: on_success
    paths:
    - outputs/build-dependencies.txt
    - outputs/*.apk
    - outputs/*.txt
    expire_in: 1 week
  tags:
  - android

cleanup_build_job:
  stage: cleanup_build
  script:
  - ./gradlew clean
  - ./rm -r outputs
  when: on_failure
  tags:
  - android
