<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.android.messaging"
          android:installLocation="internalOnly">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="26"/>
    <!-- Application holds CPU wakelock while working in background -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- Application needs access to MMS network -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- Application needs CONTACT permissions -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <!-- Application needs SMS/MMS permissions -->
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_MMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <!-- Application needs to read profiles for the user itself from CP2 -->

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>

    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        tools:node="remove"/>

    <!-- Optional features -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false"/>

    <application
        android:name=".BugleApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/BugleTheme"
        tools:replace="android:allowBackup">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0b4450f77c38aaab5bda6429b3e6ece0f4c33dfb"/>
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false"/>

        <!-- Displays a list of conversations -->
        <activity
            android:name=".ui.conversationlist.ConversationListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/BugleTheme.ConversationListActivity"/>

        <!-- Launches a conversation (ensures correct app name shown in recents) -->
        <activity
            android:name=".ui.conversation.LaunchConversationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:documentLaunchMode="always"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Invisible">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.SENDTO"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="sms"/>
                <data android:scheme="smsto"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.SENDTO"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="mms"/>
                <data android:scheme="mmsto"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.contact.ContactPickerActivity"
            android:theme="@style/ContactPickerTheme"/>

        <!-- Displays a list of archived conversations -->
        <activity
            android:name=".ui.conversationlist.ArchivedConversationListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/archived_activity_title"
            android:parentActivityName=".ui.conversationlist.ConversationListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BugleTheme.ArchivedConversationListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.messaging.ui.conversationlist.ConversationListActivity"/>
        </activity> <!-- Displays the contents of a single conversation -->
        <activity
            android:name=".ui.conversation.ConversationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".ui.conversationlist.ConversationListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BugleTheme.ConversationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.messaging.ui.conversationlist.ConversationListActivity"/>
        </activity> <!-- Blocked Participants -->
        <activity
            android:name=".ui.BlockedParticipantsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".ui.conversationlist.ConversationListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.messaging.ui.conversationlist.ConversationListActivity"/>
        </activity> <!-- Full-screen photo viewer -->
        <activity
            android:name=".ui.photoviewer.BuglePhotoViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/photo_view_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/BuglePhotoViewTheme"/> <!-- Settings -->
        <activity
            android:name=".ui.appsettings.SettingsSimSelectActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/settings_activity_title"
            android:parentActivityName=".ui.conversationlist.ConversationListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.messaging.ui.conversationlist.ConversationListActivity"/>
        </activity>
        <activity
            android:name=".ui.appsettings.ThemeColorSelectActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/settings_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsActivity"/> <!-- Handles sharing intent -->
        <activity
            android:name=".ui.conversationlist.ShareIntentActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/BugleTheme.DialogActivity">
            <intent-filter android:label="@string/share_intent_label">
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/plain"/>
                <data android:mimeType="text/x-vCard"/>
                <data android:mimeType="text/x-vcard"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="audio/*"/>
                <data android:mimeType="application/ogg"/>
            </intent-filter>
            <intent-filter android:label="@string/share_intent_label">
                <action android:name="android.intent.action.SEND_MULTIPLE"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity> <!-- People & Options -->
        <activity
            android:name=".ui.conversationsettings.PeopleAndOptionsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/people_and_options_activity_title"
            android:parentActivityName=".ui.conversation.ConversationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.messaging.ui.conversation.ConversationActivity"/>
        </activity> <!-- Welcome -->
        <activity
            android:name=".ui.welcome.WelcomeStartActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.APP_MESSAGING"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.welcome.WelcomePermissionActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme"/>
        <activity
            android:name=".ui.welcome.WelcomeSetAsDefaultActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme"/>
        <activity
            android:name=".ui.SetAsDefaultGuideActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity
            android:name=".ui.DragHotSeatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity
            android:name=".ui.ThemeUpgradeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <!-- WebView -->
        <activity
            android:name=".ui.WebViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <!-- Message Forwarding -->
        <activity
            android:name=".ui.conversationlist.ForwardMessageActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/forward_message_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <!-- VCard details -->
        <activity
            android:name=".ui.VCardDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/BaseSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.conversation.ConversationActivity"/>
        </activity>
        <!-- Attachment chooser -->
        <activity
            android:name=".ui.attachmentchooser.AttachmentChooserActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/attachment_chooser_activity_title"
            android:parentActivityName=".ui.conversation.ConversationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BugleTheme.AttachmentChooserActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.messaging.ui.conversation.ConversationActivity"/>
        </activity>
        <!--
             Test activity that we use to host fragments/views. Unfortunately, apparently necessary
             because Android framework test cases want activity to be in the instrumented package.
             See http://developer.android.com/reference/android/test/ActivityInstrumentationTestCase2.html
        -->
        <activity
            android:name=".ui.TestActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.debug.DebugMmsConfigActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/BugleTheme.DialogActivity"/>

        <provider
            android:name=".datamodel.MessagingContentProvider"
            android:authorities="com.color.messaging.datamodel.MessagingContentProvider"
            android:exported="false"
            android:label="@string/app_name"/>
        <provider
            android:name=".datamodel.MmsFileProvider"
            android:authorities="com.color.messaging.datamodel.MmsFileProvider"
            android:exported="false"
            android:grantUriPermissions="true"/>
        <provider
            android:name=".datamodel.MediaScratchFileProvider"
            android:authorities="com.color.messaging.datamodel.MediaScratchFileProvider"
            android:exported="false"
            android:grantUriPermissions="true"/> <!-- Action Services -->
        <service android:name=".datamodel.action.ActionServiceImpl"/>
        <service android:name=".datamodel.action.BackgroundWorkerService"/> <!-- Sms and Mms related items -->
        <!-- Intents for Notification and Pre-KLP Delivery -->
        <!-- Registered with the highest possible priority (max_int) -->
        <receiver
            android:name=".receiver.MmsWapPushReceiver"
            android:enabled="false"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED"/>

                <data android:mimeType="application/vnd.wap.mms-message"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.RemoteInputReceiver"
            android:exported="false"/>

        <receiver
            android:name=".receiver.SmsReceiver"
            android:enabled="false"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.provider.Telephony.MMS_DOWNLOADED"/>
            </intent-filter>
        </receiver> <!-- Intents for aborting SMS/MMS broadcasts pre-KLP -->
        <!-- Registered for a priority just ahead of inbox Messaging apps (2) -->
        <receiver
            android:name=".receiver.AbortMmsWapPushReceiver"
            android:enabled="false"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter android:priority="3">
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED"/>

                <data android:mimeType="application/vnd.wap.mms-message"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.AbortSmsReceiver"
            android:enabled="false"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="3">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver> <!-- Intents for KLP+ Delivery -->
        <receiver
            android:name=".receiver.MmsWapPushDeliverReceiver"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER"/>

                <data android:mimeType="application/vnd.wap.mms-message"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.SmsDeliverReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.SendStatusReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.android.messaging.receiver.SendStatusReceiver.MESSAGE_SENT"/>

                <data android:scheme="content"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.messaging.receiver.SendStatusReceiver.MESSAGE_DELIVERED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.messaging.receiver.SendStatusReceiver.MMS_SENT"/>

                <data android:scheme="content"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.messaging.receiver.SendStatusReceiver.MMS_DOWNLOADED"/>

                <data android:scheme="content"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".datamodel.NoConfirmationSmsSendService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="sms"/>
                <data android:scheme="smsto"/>
            </intent-filter>
        </service>

        <service
            android:name=".datamodel.NotificationServiceV18"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.ClassZeroActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/class_0_message_activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/BugleTheme.DialogActivity"/>
        <activity
            android:name=".ui.SmsStorageLowWarningActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/BugleTheme.DialogActivity"/>
        <activity
            android:name=".ui.appsettings.ApnSettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".ui.appsettings.SettingsSimSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BugleTheme"/>
        <activity
            android:name=".ui.appsettings.ApnEditorActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".ui.appsettings.ApnSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BugleTheme"/>
        <activity
            android:name=".ui.smsshow.SmsShowDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SmsShow.DarkFullScreen"/>
        <activity
            android:name=".ui.smsshow.SmsShowActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity=".sms.show"
            android:theme="@style/Theme.AppCompat.Translucent"/>

        <receiver android:name=".receiver.StorageStatusReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.BootAndPackageReplacedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver> <!-- Broadcast receiver that will be notified to reset notifications -->
        <receiver
            android:name=".receiver.NotificationReceiver"
            android:exported="false"/> <!-- Broadcast receiver that will be notified for ActionService alarms. -->
        <receiver
            android:name=".datamodel.action.ActionServiceImpl$PendingActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.android.messaging.datamodel.PENDING_ACTION"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.DefaultSmsSubscriptionChangeReceiver">
            <intent-filter>
                <action android:name="android.telephony.action.DEFAULT_SMS_SUBSCRIPTION_CHANGED"/>
            </intent-filter>
        </receiver> <!-- Widget that displays the conversation list -->
        <receiver
            android:name=".widget.BugleWidgetProvider"
            android:label="@string/widget_conversation_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.Bugle.intent.action.ACTION_NOTIFY_CONVERSATIONS_CHANGED"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_conversation_list"/>
        </receiver> <!-- Widget that displays the messages of a single conversation -->
        <receiver
            android:name=".widget.WidgetConversationProvider"
            android:label="@string/widget_conversation_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.Bugle.intent.action.ACTION_NOTIFY_MESSAGES_CHANGED"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_conversation"/>
        </receiver>

        <service
            android:name=".widget.WidgetConversationListService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <service
            android:name=".widget.WidgetConversationService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <service android:name=".debug.UploadLeakService"/>

        <activity
            android:name=".ui.WidgetPickConversationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/BugleTheme">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.emoji.StickerMagicDetailActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/WindowBgAndTranslucent"/>
        <activity
            android:name=".ui.emoji.EmojiStoreActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/BaseSettingsActivity"/>

        <activity
            android:name=".ui.emoji.EmojiDetailActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/WindowBgWhiteAndTranslucent"/>

        <activity
            android:name=".feedback.FeedbackActivity"
            android:screenOrientation="portrait"
            android:taskAffinity=".feedback"
            android:theme="@style/ThemeAppBarActivity.NoBG"/>

        <activity
            android:name=".ui.dialog.PermissionGuideActivity"
            android:allowTaskReparenting="false"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:taskAffinity=".permission.guide"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity
            android:name=".ui.dialog.NotificationAccessDialogActivity"
            android:allowTaskReparenting="false"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:taskAffinity=".permission.guide"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name="android.support.v7.mms.MmsService"/>

        <activity
            android:name=".ui.appsettings.SettingActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/BaseSettingsActivity"/>

        <activity
            android:name=".ui.appsettings.SettingAboutActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/BaseSettingsActivity"/>

        <activity
            android:name=".ui.appsettings.EmojiStyleSetActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/BaseSettingsActivity"/>

        <activity
            android:name=".ui.appsettings.GDPRSettingsActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/BaseSettingsActivity"/>
        <activity
            android:name=".ui.appsettings.SettingAdvancedActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/BaseSettingsActivity"/>
        <activity
            android:name=".font.ChangeFontActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/BaseSettingsActivity"/>
        <activity android:name=".debug.ChangeThemeColorDebugActivity"/>

        <activity
            android:name=".ui.customize.CustomBubblesActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoBackgroundActivity"/>

        <!-- Lib permanent -->
        <service
            android:name="com.ihs.device.permanent.PermanentService"
            android:exported="true"
            android:label="GuardService"
            android:stopWithTask="false"
            tools:remove="android:process">
            <intent-filter>
                <action android:name="com.ihs.device.permanent.StartPermanentService"/>
            </intent-filter>
        </service>
        <service
            android:name="com.ihs.device.permanent.PermanentDaemonService"
            android:exported="true"
            android:label="DaemonService"
            android:stopWithTask="false"
            tools:remove="android:process"/>
        <service
            android:name="com.ihs.device.permanent.PermanentService$PermanentServiceInner"
            tools:remove="android:process"/>

        <receiver
            android:name="com.ihs.device.permanent.PermanentService$PermanentReceiver"
            android:enabled="true"
            android:exported="true"
            tools:remove="android:process"/>
        <receiver
            android:name="com.ihs.device.permanent.PermanentReceiver"
            android:enabled="true"
            android:exported="true"
            tools:remove="android:process">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_RESTARTED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
            </intent-filter>
            <intent-filter android:priority="999">
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.MEDIA_UNMOUNTED"/>

                <data android:scheme="file"/>
            </intent-filter>
            <intent-filter>
                <action android:name="ihs.device.permanent.GUARD_PERMANENT"/>
            </intent-filter>
        </receiver>

        <!-- Job Schedule -->
        <service
            android:name="com.ihs.device.permanent.GuardJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            tools:remove="android:process" />

        <activity
            android:name="com.ihs.device.permanent.PermanentActivity"
            tools:remove="android:process"/>
        <activity
            android:name="com.ihs.device.permanent.foreground.ForegroundActivity"
            tools:remove="android:process"/>

        <service
            android:name="com.ihs.device.permanent.syncaccount.AuthenticationService"
            android:exported="true"
            tools:remove="android:process">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>
        <service
            android:name="com.ihs.device.permanent.syncaccount.SyncService"
            android:exported="true"
            tools:remove="android:process">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter"
                android:value="true"/>
        </service>

        <provider
            android:name="com.ihs.device.permanent.syncaccount.SyncContentProvider"
            android:authorities="@string/sync_account_type"
            android:enabled="true"
            android:exported="true"
            android:label="@string/sync_account_title"
            android:syncable="true"
            tools:remove="android:process"/>

        <activity
            android:name=".ui.wallpaper.WallpaperPreviewActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/BaseSettingsActivity"/>
        <activity
            android:name=".ui.wallpaper.WallpaperEditActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/BaseSettingsActivity"/>
        <activity
            android:name=".ui.emoji.EmojiLottieDetailActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/WindowBgWhiteAndTranslucent"/>
        <activity
            android:name=".ui.messagebox.MessageBoxActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:taskAffinity=".message.box"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

        <receiver android:name=".util.CreateShortcutReceiver"/>

        <activity
            android:name=".ui.CreateShortcutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity
            android:name=".privatebox.ui.PrivateBoxSetPasswordActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsActivity"/>
        <activity
            android:name=".privatebox.ui.PrivateBoxLockQuestionActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsActivity"/>
        <activity
            android:name=".privatebox.ui.PrivateConversationListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/BugleTheme.ConversationListActivity"/>

        <provider
            android:name=".privatebox.PrivateMessageContentProvider"
            android:authorities="com.color.sms.messages"
            android:enabled="true"
            android:exported="false"/>

        <activity
            android:name=".privatebox.ui.SelfVerifyActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsActivity"/>

        <activity
            android:name=".privatebox.ui.PrivateSettingActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/BaseSettingsActivity"/>

        <activity
            android:name=".privatebox.ui.HideTheIconActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/BaseSettingsActivity"/>

        <activity
            android:name=".privatebox.ui.PrivateContactsActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsActivity"/>

        <activity
            android:name=".privatebox.ui.addtolist.ContactsSelectActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsActivity"/>

        <activity
            android:name=".privatebox.ui.addtolist.ConversationSelectActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsActivity"/>

        <activity
            android:name=".ui.welcome.WelcomeChooseThemeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeChooseThemeActivity"/>

        <activity
            android:name=".ui.welcome.NotificationAccessGuideActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeChooseThemeActivity" />

        <activity
            android:name=".ui.smspro.BillingActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"/>


        <receiver
            android:name="com.superapps.phonestate.PhoneStateReceiver2"
            android:enabled="false"
            tools:node="replace">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.superapps.phonestate.PhoneStateReceiver"
            android:enabled="false"
            tools:node="replace">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.customize.theme.ThemeSelectActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsActivity"/>
        <activity
            android:name=".ui.customize.theme.ThemePreviewActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsActivity"/>
        <activity
            android:name=".backup.ui.BackupRestoreActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsActivity"/>
        <activity
            android:name=".backup.ui.BackupGuideDialogActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"/>
        <activity
            android:name=".ui.invitefriends.InviteFriendsActivity"
            android:theme="@style/SettingsActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

        <activity
            android:name=".ui.invitefriends.SelectFriendsToInviteActivity"
            android:theme="@style/SettingsActivity"/>

        <activity
            android:name=".ui.customize.mainpage.ChatListCustomizeActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/BugleTheme.ConversationActivity"/>

        <activity
            android:name=".ui.customize.mainpage.ChatListWallpaperEditActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/BaseSettingsActivity"/>

        <!-- Notification Cleaner -->
        <activity
            android:name=".notificationcleaner.activity.NotificationGuideActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/BugleTheme.ConversationListActivity" />
        <activity
            android:name=".notificationcleaner.activity.NotificationCleanerSettingActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsActivity" />
        <activity
            android:name=".notificationcleaner.activity.NCPermissionGuideActivity"
            android:allowTaskReparenting="false"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:taskAffinity=".permission.guide"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>